{% extends "das/base.html" %}

{% block page %}
    {% load mptt_tags %}
    <div class="row">
        <div class="col-lg-12">
            <!-- PAGE CONTENT BEGINS -->

            <form class="form-horizontal" role="form" action="{% url 'category_modify' cate.pk %}" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 分类目录 </label>

                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" name="name" value="{{ cate.name }}" placeholder="name"
                               class="col-xs-10 col-sm-5"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 别名 </label>

                    <div class="col-sm-9">
                        <input type="text" id="form-field-1" name="url_slug" value="{{ cate.url_slug }}"
                               placeholder="url_slug"
                               class="col-xs-10 col-sm-5"/>
                    </div>
                </div>

                <div class="space-4"></div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-2"> 描述 </label>

                    <div class="col-sm-9">
                        <input type="text" id="form-field-2" name="description" value="{{ cate.description }}"
                               placeholder="description"
                               class="col-xs-10 col-sm-5"/>
                        <span class="help-inline col-xs-12 col-sm-7">
												<span class="middle">分类目录描述</span>
											</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-3 control-label no-padding-right" for="form-field-select-3">父目录</label>
                    <div class="col-sm-9">
                        <select autocomplete="off" class="col-xs-10 col-sm-5" name="parent" id="form-field-select-3"
                                data-placeholder="选择父目录">


                            {% load category_tags %}
                            {% if cate.parent_id is None %}
                                <option value="0" selected>无</option>
                            {% else %}
                                <option value="0">无</option>
                            {% endif %}
                            {% for node,structure in nodes|tree_info:"ancestors" %}
                                {% if node.is_root_node %}

                                    <option value="{{ node.pk }}" {{ cate|is_parent:node.pk }}>
                                        {{ node }}
                                    </option>
                                {% else %}
                                    <option value="{{ node.pk }}" {{ cate|is_parent:node.pk }}>
                                        {{ structure.ancestors|cate_tree_path:"--" }}{{ node }}
                                    </option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>


                <div class="space-4"></div>


                <div class="clearfix form-actions col-md-10">
                    <div class="col-md-offset-3 col-md-9">
                        <button class="btn btn-sm btn-info" type="submit">
                            <i class="icon-ok bigger-110"></i>
                            Submit
                        </button>

                        &nbsp; &nbsp; &nbsp;
                        <button class="btn btn-sm" type="reset">
                            <i class="icon-undo bigger-110"></i>
                            Reset
                        </button>
                    </div>
                </div>


            </form>
        </div><!-- /.col -->


    </div><!-- /.row -->
{% endblock %}
