{% extends "das/base.html" %}
{% load staticfiles %}
{% load static %}

{% block page %}
    {% load mptt_tags %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" role="form" id="comment_status_form"
                          action="{% url 'comment_list' '1' comment_status %}"
                          method="post">
                        {% csrf_token %}
                        <div class="col-sm-3">
                            <select class="col-xs-12 col-sm-6" name="comment_status" id="comment_status">

                                <option value="0"
                                        {% if comment_status == '0' %}
                                        selected="selected"
                                        {% endif %}
                                >ALL
                                </option>
                                <option value="1"
                                        {% if comment_status == '1' %}
                                        selected="selected"
                                        {% endif %}
                                >已批准
                                </option>
                                <option value="2"
                                        {% if comment_status == '2' %}
                                        selected="selected"
                                        {% endif %}
                                >待审核
                                </option>
                            </select>
                            <button class="btn btn-sm btn-group-sm btn-white" type="submit">筛选</button>
                        </div>
                    </form>
                </div>

                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="col-md-2">作者</th>
                                <th>评论</th>
                                <th>回应给</th>

                                <th class="hidden-480">id</th>


                            </tr>
                            </thead>

                            <tbody>
                            {% for page in pages %}

                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>

                                        <div class="col-sm-4"><img src="{{ page.user.avatar }}"></div>
                                        <div class="col-sm-8"><a href="#">{{ page.user.username }}</a></div>
                                        <div class="col-sm-8"><a href="#">{{ page.user.email }}</a></div>
                                        <div class="col-sm-12"><span>{{ page.comment_author_ip }}</span></div>


                                    </td>
                                    <td class="commenttd">
                                        <span>提交于：{{ page.comment_date }}</span><br/>
                                        {{ page.comment }}
                                        <div class="tools hidden">
                                            <div class="action-buttons bigger-125">
                                                {% if page.comment_status == '2' %}
                                                    <a href="javascript:void(0);" id="{{ page.pk }}"
                                                       class="comment_accept">
                                                        <i class="icon-check green"></i>
                                                    </a>
                                                {% elif page.comment_status == '1' %}
                                                    <a href="javascript:void(0);" id="{{ page.pk }}"
                                                       class="comment_reject">
                                                        <i class="icon-remove red"></i>
                                                    </a>
                                                {% endif %}
                                                <a href="javascript:void(0);" id="{{ page.pk }}" class="comment">
                                                    <i class="icon-comments blue"></i>
                                                </a>

                                                <a href="javascript:void(0);" id="{{ page.pk }}" class="comment_del">
                                                    <i class="icon-trash red"></i>
                                                </a>
                                            </div>

                                        </div>
                                    </td>
                                    <td class="hidden-480">
                                        <a href="{{ page.article.guid }}">{{ page.article.title }}</a></td>


                                    <td class="hidden-480">
                                        {{ page.id }}
                                    </td>


                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                        {% for index in pages.paginator.page_range %}
                            {% if index == pages.number %}
                                {{ index }}
                            {% else %}
                                <a href="{% url 'comment_list' index comment_status %}">{{ index }}</a>
                            {% endif %}
                        {% endfor %}
                    </div><!-- /.table-responsive -->
                </div><!-- /span -->
            </div><!-- /row -->
        </div><!-- /.col -->

    </div><!-- /.row -->
    <script type="text/javascript" src="{% static 'tinymce/plugins/jquery-form.js' %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
        $(document).ready(function () {

            $(".commenttd").hover(function () {
                $(this).children('.tools').removeClass("hidden");
            }, function () {
                $(this).children('.tools').addClass("hidden");
            })


            $("div.tools").on("click", "a.comment_accept", function () {
                var comment_id = $(this).attr("id")
                var obj = $(this)
                var url = "{% url 'comment_audit' 123 'accept' %}"
                url = url.replace('123', comment_id)
                url = url.replace('accept', 'accept')
                $.ajax({
                    type: "GET",
                    url: url,
                    datatype: 'json',
                    success: function (result) {
                        if (result.result == 'success') {
                            alert(result.msg)
                            obj.removeClass("comment_accept")
                            obj.addClass("comment_reject")
                            obj.children('i').removeClass("icon-check green")
                            obj.children('i').addClass("icon-remove red")
                        } else {
                            alert("处理失败")
                        }
                    },
                    error: function () {
                        alert('异常')
                    }
                })
            })

            $("div.tools").on("click", "a.comment_reject", function () {
                var comment_id = $(this).attr("id")
                var obj = $(this)
                var url = "{% url 'comment_audit' 123 'reject' %}"
                url = url.replace('123', comment_id)
                url = url.replace('reject', 'reject')
                $.ajax({
                    type: "GET",
                    url: url,
                    datatype: 'json',
                    success: function (result) {
                        if (result.result == 'success') {
                            alert(result.msg)
                            obj.removeClass("comment_reject")
                            obj.addClass("comment_accept")

                            obj.children('i').removeClass("icon-remove red")
                            obj.children('i').addClass("icon-check green")
                        } else {
                            alert("处理失败")
                        }
                    },
                    error: function () {
                        alert('异常')
                    }
                })
            })

            $("div.tools").on("click", "a.comment_del", function () {
                var comment_id = $(this).attr("id")
                var obj = $(this)
                var tr = obj.parents('tr')
                var url = "{% url 'comment_del' 123 %}"
                url = url.replace('123', comment_id)

                $.ajax({
                    type: "GET",
                    url: url,
                    datatype: 'json',
                    success: function (result) {
                        if (result.result == 'success') {
                            alert(result.msg)
                            tr.remove()
                        } else {
                            alert("处理失败")
                        }
                    },
                    error: function () {
                        alert('异常')
                    }
                })
            })


        });
    </script>
{% endblock %}
