{% extends "das/base.html" %}
{% load staticfiles %}
{% load static %}

{% block page %}
    {% load mptt_tags %}
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->

            <div class="row">
                <div class="form-group">
                    <form class="form-horizontal" role="form" id="comment_status_form"
                          action="{% url 'comment_list' '1' comment_status %}"
                          method="post">
                        {% csrf_token %}
                        <div class="col-sm-3">
                            <select class="col-xs-12 col-sm-6" name="comment_status" id="comment_status">

                                <option value="0"
                                        {% if comment_status == '0' %}
                                        selected="selected"
                                        {% endif %}
                                >ALL
                                </option>
                                <option value="1"
                                        {% if comment_status == '1' %}
                                        selected="selected"
                                        {% endif %}
                                >已批准
                                </option>
                                <option value="2"
                                        {% if comment_status == '2' %}
                                        selected="selected"
                                        {% endif %}
                                >待审核
                                </option>
                            </select>
                            <button class="btn btn-sm btn-group-sm btn-white" type="submit">筛选</button>
                        </div>
                    </form>
                </div>

                <div class="col-xs-12">
                    <div class="table-responsive">
                        <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th class="center">
                                    <label>
                                        <input type="checkbox" class="ace"/>
                                        <span class="lbl"></span>
                                    </label>
                                </th>
                                <th class="col-md-2">作者</th>
                                <th>评论</th>
                                <th>回应给</th>

                                <th class="hidden-480">id</th>

                                <th>操作</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for page in pages %}

                                <tr>
                                    <td class="center">
                                        <label>
                                            <input type="checkbox" class="ace"/>
                                            <span class="lbl"></span>
                                        </label>
                                    </td>

                                    <td>

                                        <div class="col-sm-4"><img src="{{ page.user.avatar }}"></div>
                                        <div class="col-sm-8"><a href="#">{{ page.user.username }}</a></div>
                                        <div class="col-sm-8"><a href="#">{{ page.user.email }}</a></div>
                                        <div class="col-sm-12"><span>{{ page.comment_author_ip }}</span></div>


                                    </td>
                                    <td>
                                        <span>提交于：{{ page.comment_date }}</span><br/>
                                        {{ page.comment }}
                                    </td>
                                    <td class="hidden-480">
                                        <a href="{{ page.article.guid }}">{{ page.article.title }}</a></td>


                                    <td class="hidden-480">
                                        {{ page.id }}
                                    </td>

                                    <td>
                                        <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">

                                            <a href="javascript:void(0);" id="comment_accept">
                                                <button class="btn btn-xs btn-info">
                                                    <i class="icon-edit bigger-120"></i>
                                                </button>
                                            </a>

                                            <a href="javascript:void(0);" id="comment_reject">
                                                <button class="btn btn-xs btn-danger">
                                                    <i class="icon-trash bigger-120"></i>
                                                </button>
                                            </a>
                                            <a href="javascript:void(0);" id="comment_del">
                                                <button class="btn btn-xs btn-warning">
                                                    <i class="icon-flag bigger-120"></i>
                                                </button>
                                            </a>
                                        </div>

                                        <div class="visible-xs visible-sm hidden-md hidden-lg">
                                            <div class="inline position-relative">
                                                <button class="btn btn-minier btn-primary dropdown-toggle"
                                                        data-toggle="dropdown">
                                                    <i class="icon-cog icon-only bigger-110"></i>
                                                </button>

                                                <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                                    <li>
                                                        <a href="#" class="tooltip-info" data-rel="tooltip"
                                                           title="View">
																				<span class="blue">
																					<i class="icon-zoom-in bigger-120"></i>
																				</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-success" data-rel="tooltip"
                                                           title="Edit">
																				<span class="green">
																					<i class="icon-edit bigger-120"></i>
																				</span>
                                                        </a>
                                                    </li>

                                                    <li>
                                                        <a href="#" class="tooltip-error" data-rel="tooltip"
                                                           title="Delete">
																				<span class="red">
																					<i class="icon-trash bigger-120"></i>
																				</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            {% endfor %}


                            </tbody>
                        </table>
                        {% for index in pages.paginator.page_range %}
                            {% if index == pages.number %}
                                {{ index }}
                            {% else %}
                                <a href="{% url 'comment_list' index comment_status %}">{{ index }}</a>
                            {% endif %}
                        {% endfor %}
                    </div><!-- /.table-responsive -->
                </div><!-- /span -->
            </div><!-- /row -->
        </div><!-- /.col -->

    </div><!-- /.row -->
    <script type="text/javascript" src="{% static 'tinymce/plugins/jquery-form.js' %}"></script>
    <script type="text/javascript">
        $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});
        $(document).ready(function () {
            {#$("select#comment_status").change(function () {#}
            {#    alert("aaa");#}
            {#comment_status = $(this).children("option:selected").serialize();#}
            {#    comment_status = $(this).serialize()#}
            {#    alert(comment_status);#}
            {#    var tagUrl = $("#comment_status_form").attr("action");#}
            {#    alert(tagUrl);#}
            {#    $('#comment_status_form').ajaxForm();#}
            {#    $("#comment_status_form").ajaxSubmit({#}
            {#        type: "post",#}
            {#        url:  tagUrl,#}
            {#        async: false,#}
            {#        datatype: "json",#}
            {#        success: function (data) {#}
            {#            console.log("success")#}
            {#        }#}
            {#    })#}
            {#})
        #}

        })
        ;
    </script>
{% endblock %}
