{% extends "das/base.html" %}
{% load staticfiles %}
{% load static %}
{% block header %}
    <script type="text/javascript" src="{% static 'tinymce/plugins/jquery-form.js' %}"></script>

{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="#">设置</a>
    </li>
    <li class="active">菜单</li>
{% endblock %}
{% block page %}
    {% load mptt_tags %}
    <div class="page-header">
        <h1>
            设置
            <small>
                <i class="icon-double-angle-right"></i>
                菜单
            </small>
        </h1>
    </div><!-- /.page-header -->
    <div class="page-header">


        <div class="form-group">

            <form class="form-horizontal" role="form" id="menu_form"
                  action="{% url 'menu' %}"
                  method="post">
                {% csrf_token %}

                <div class="col-sm-5">

                    <span class="col-xs-3 align-center text-center">选择要编辑的菜单</span>
                    <select class="col-xs-12 col-sm-4" name="menu_id" id="menu_id">
                        {% if not menus %}
                            <option value="0"
                                    selected="selected"
                            >无
                            </option>
                        {% endif %}
                        {% for menu in menus %}
                            <option value="{{ menu.pk }}"
                                    {% if menu.pk == current_menu.pk %}
                                    selected="selected"
                                    {% endif %}
                            >{{ menu.menu_name }}
                            </option>
                        {% endfor %}
                    </select>

                    &nbsp;&nbsp;&nbsp;&nbsp;<button class="btn btn-sm btn-group-sm btn-white" type="submit"
                                                    id="select_menu">选择
                </button>
                    或<a data-toggle="tab" href="#new-menu" id="new-menu">创建新菜单</a>
                </div>

            </form>
        </div>
        <div class="space-8"></div>
    </div><!-- /.page-header -->
    <div class="row">
        <div class="col-xs-12">
            <!-- PAGE CONTENT BEGINS -->
            <div class="col-sm-3">


                <div id="accordion" class="accordion-style1 panel-group">


                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#page">
                                    &nbsp;页面
                                    <i class="icon-angle-down bigger-110 pull-right" data-icon-hide="icon-angle-up"
                                       data-icon-show="icon-angle-down"></i>

                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="page">
                            <div class="panel-body">
                                <form action="{% url 'menu_option_add' %}" method="post" id="page-form">
                                    {% csrf_token %}
                                    <input type="hidden" id="menu_id" name="menu_id" value="{{ current_menu.pk }}">
                                    <input type="hidden" id="option_name" name="option_name" value="页面">
                                    <div class="well">
                                        {% for page in pages %}
                                            <input type="checkbox" id="{{ page.pk }}" name="option_value"
                                                   class="page-all"
                                                   value="{% url 'page_show' page.url_slug %}"> {{ page.title }}<br>
                                            <input type="hidden" id="{{ page.pk }}" name="option_title"
                                                   value="{% url 'page_show' page.url_slug %}:{{ page.title }}">
                                        {% endfor %}
                                    </div>
                                    <div class="well well-sm">
                                        &nbsp;<button class="btn btn-sm btn-group-sm btn-white addall" type="button"
                                                      id="page-all">全选
                                    </button>
                                        <button class="btn btn-sm btn-group-sm btn-white pull-right addto" type="button"
                                                id="page-form">添加至菜单
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#category">
                                    &nbsp;分类目录
                                    <i class="icon-angle-down bigger-110 pull-right" data-icon-hide="icon-angle-up"
                                       data-icon-show="icon-angle-down"></i>

                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="category">
                            <div class="panel-body">
                                <form action="{% url 'menu_option_add' %}" method="post" id="category-form">
                                    {% csrf_token %}
                                    <input type="hidden" id="menu_id" name="menu_id" value="{{ current_menu.pk }}">
                                    <input type="hidden" id="option_name" name="option_name" value="分类目录">
                                    <div class="well">

                                        {% for node in nodes %}
                                            <input type="checkbox" id="{{ node.pk }}" name="option_value"
                                                   class="category-all"
                                                   value="{% url 'category_show' node.pk 1 %}"> {{ node.name }}<br>
                                            <input type="hidden" id="option_title" name="option_title"
                                                   value="{% url 'category_show' node.pk 1 %}:{{ node.name }}">
                                        {% endfor %}
                                    </div>
                                    <div class="well well-sm">
                                        &nbsp;<button class="btn btn-sm btn-group-sm btn-white addall" type="button"
                                                      id="category-all">全选
                                    </button>
                                        <button class="btn btn-sm btn-group-sm btn-white pull-right addto" type="button"
                                                id="category-form">添加至菜单
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#tag">
                                    &nbsp;标签
                                    <i class="icon-angle-down bigger-110 pull-right" data-icon-hide="icon-angle-up"
                                       data-icon-show="icon-angle-down"></i>

                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="tag">
                            <div class="panel-body">
                                <form action="{% url 'menu_option_add' %}" method="post" id="tag-form">
                                    <input type="hidden" id="menu_id" name="menu_id" value="{{ current_menu.pk }}">
                                    {% csrf_token %}
                                    <input type="hidden" id="option_name" name="option_name" value="标签">
                                    <div class="well">
                                        {% for tag in tags %}
                                            <input type="checkbox" id="{{ tag.pk }}" name="option_value" class="tag-all"
                                                   value="{% url 'tag_show' tag.pk 1 %}"> {{ tag.name }}<br>
                                            <input type="hidden" id="option_title" name="option_title"
                                                   value="{% url 'tag_show' tag.pk 1 %}:{{ tag.name }}">
                                        {% endfor %}
                                    </div>
                                    <div class="well well-sm">
                                        &nbsp;<button class="btn btn-sm btn-group-sm btn-white addall" type="button"
                                                      id="tag-all">全选
                                    </button>
                                        <button class="btn btn-sm btn-group-sm btn-white pull-right addto" type="button"
                                                id="tag-form">添加至菜单
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#url">
                                    &nbsp;链接
                                    <i class="icon-angle-down bigger-110 pull-right" data-icon-hide="icon-angle-up"
                                       data-icon-show="icon-angle-down"></i>

                                </a>
                            </h4>
                        </div>

                        <div class="panel-collapse collapse" id="url">
                            <div class="panel-body">
                                <form action="{% url 'menu_option_add' %}" method="post" id="url-form">
                                    {% csrf_token %}
                                    <input type="hidden" id="menu_id" name="menu_id" value="{{ current_menu.pk }}">
                                    <input type="hidden" id="option_name" name="option_name" value="自定义URL">
                                    <div class="well">

                                        <label class="control-label"> URL：</label>


                                        <input type="text" id="option_value" name="option_value" value="http://"
                                               class="pull-right"
                                        />

                                        <div class="space-4"></div>
                                        <label class="control-label"> 链接文字：</label>
                                        <input type="text" id="option_title" name="option_title" placeholder="菜单项目"
                                               class="pull-right"
                                        />


                                    </div>
                                    <div class="well well-sm align-right">
                                        {#                                    <button class="btn btn-sm btn-group-sm btn-white" type="button">全选</button>#}
                                        <button class="btn btn-sm btn-group-sm btn-white addto" type="button"
                                                id="url-form">
                                            添加至菜单
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- /span -->


            <div class="col-sm-9">
                <div class="tab-content">

                    <div class="widget-box tab-pane active" id="menu_modify">

                        <div class="widget-header clearfix">


                            {% csrf_token %}
                            <div class="space-2"></div>
                            <form action="{% url 'menu_modify' current_menu.pk %}" method="post"
                                  id="modify_menu_form">
                                <div class="form-group col-sm-12">
                                    <label class="control-label col-sm-1 no-padding-righ">菜单名称</label>
                                    <div class="col-sm-2 pull-left">
                                        <input type="text" id="modify_menu_name" name="menu_name"
                                               value="{{ current_menu.menu_name }}" class="col-sm-12">
                                        <input type="hidden" id="modify_menu_type" name="menu_type" value="menu">
                                    </div>
                                    <div class="col-sm-8 pull-left">
                                        <button class="btn btn-sm btn-group-sm btn-white menu-save" type="button"
                                                id="save_menu">保存菜单
                                </button>
                                    </div>
                                </div>
                            </form>


                        </div>

                        <div class="widget-body" id="33">
                            <div class="widget-main">
                                <h4>菜单结构</h4>
                                <p>
                                    拖放各个项目到您喜欢的顺序，点击右侧的箭头可进行更详细的设置。
                                </p>

                                <div class="dd" id="nestable">
                                    <ol class="dd-list">
                                        {% for menu_option in current_menu_option %}

                                            <li class="dd-item panel" data-id="{{ menu_option.pk }}"
                                                id="{{ menu_option.pk }}">
                                                <form action="{% url 'menu_option_modify' menu_option.pk %}"
                                                      method="post"
                                                      id="form-{{ menu_option.pk }}">
                                                    {% csrf_token %}
                                                    <input type="hidden" id="menu_id" name="menu_id"
                                                           value="{{ menu_option.menu.pk }}">
                                                    <input type="hidden" id="option_name" name="option_name"
                                                           value="{{ menu_option.option_name }}">

                                                    <div class="dd-handle">
                                                        <a class="accordion-toggle collapsed" data-toggle="collapse"

                                                           href="#data-id-{{ menu_option.pk }}">
                                                            <span id="{{ menu_option.pk }}">
                                                            &nbsp;{{ menu_option.option_name }}
                                                            | {{ menu_option.option_title }}
                                                                </span>
                                                            <i class="icon-angle-down bigger-110 pull-right"
                                                               data-icon-hide="icon-angle-up"
                                                               data-icon-show="icon-angle-down"></i>

                                                        </a>

                                                    </div>

                                                    <div class="panel-collapse collapse"
                                                         id="data-id-{{ menu_option.pk }}">
                                                        <div class="panel-body">
                                                            <div class="well">
                                                                {% if menu_option.option_name == '自定义URL' %}
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-2 no-padding-right">
                                                                            URL：</label>


                                                                        <input type="text" id="option_value"
                                                                               name="option_value"
                                                                               value="{{ menu_option.option_value }}"
                                                                               class="no-padding-left col-sm-10"
                                                                        /><br>
                                                                    </div>
                                                                    <div class="space-8"></div>
                                                                {% endif %}
                                                                <div class="form-group">
                                                                    <label class="control-label col-xs-2 no-padding-right">
                                                                        导航标签：</label>
                                                                    <input type="text" id="option_title"
                                                                           name="option_title"
                                                                           placeholder="导航标签"
                                                                           class="col-sm-3 no-padding-left"
                                                                           value="{{ menu_option.option_title }}"
                                                                    />
                                                                    <div class="col-sm-2"></div>
                                                                    <label class="control-label col-xs-2 no-padding-right">
                                                                        标签属性：</label>
                                                                    <input type="text" id="option_icon"
                                                                           name="option_icon"
                                                                           placeholder="icon-list"
                                                                           class="col-sm-3 no-padding-left"
                                                                           value="{{ menu_option.option_icon }}"
                                                                    /><br>
                                                                </div>
                                                                {% if menu_option.option_name != '自定义URL' %}
                                                                    <div class="form-group">
                                                                        <label class="control-label col-xs-2 no-padding-right">
                                                                            原始：</label>
                                                                        <label class="control-label col-xs-8 no-padding-left"><a
                                                                                href="{{ menu_option.option_value }}"
                                                                                target="_blank">
                                                                            {% if not menu_option.original_title %}
                                                                                {{ menu_option.option_title }}{% else %}
                                                                                {{ menu_option.original_title }}{% endif %}</a></label>
                                                                        <input type="hidden" id="option_value"
                                                                               name="option_value"
                                                                               value="{{ menu_option.option_value }}">
                                                                    </div><br>
                                                                {% endif %}
                                                            </div>
                                                            <div class="well well-sm align-right">
                                                                <div class="col-xs-6 align-left">
                                                                    <a href="javascript:void(0);"
                                                                       class="red menu_option_remove"
                                                                       id="{{ menu_option.pk }}">移除</a>
                                                                </div>


                                                                <button class="btn btn-sm btn-group-sm btn-white save_menu_option"
                                                                        type="button" id="{{ menu_option.pk }}">保存
                                                                </button>

                                                                <br>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </form>

                                                {% load comm_tags %}
                                                {% if menu_option.children.all|has_set %}
                                                    <ol class="dd-list">
                                                        {% for child in menu_option.children.all|option_set %}

                                                            <li class="dd-item panel" data-id="{{ child.pk }}"
                                                                id="{{ child.pk }}">
                                                                <form action="{% url 'menu_option_modify' child.pk %}"
                                                                      method="post" id="form-{{ child.pk }}">
                                                                    {% csrf_token %}
                                                                    <input type="hidden" id="menu_id" name="menu_id"
                                                                           value="{{ child.menu.pk }}">
                                                                    <input type="hidden" id="option_name"
                                                                           name="option_name"
                                                                           value="{{ child.option_name }}">
                                                                    <div class="dd-handle">
                                                                        <a class="accordion-toggle collapsed"
                                                                           data-toggle="collapse"

                                                                           href="#data-id-{{ child.pk }}">
                                                            <span id="{{ child.pk }}">
                                                            &nbsp;{{ child.option_name }}
                                                            | {{ child.option_title }}
                                                                </span>
                                                                            <i class="icon-angle-down bigger-110 pull-right"
                                                                               data-icon-hide="icon-angle-up"
                                                                               data-icon-show="icon-angle-down"></i>

                                                                        </a>

                                                                    </div>

                                                                    <div class="panel-collapse collapse"
                                                                         id="data-id-{{ child.pk }}">
                                                                        <div class="panel-body">
                                                                            <div class="well">
                                                                                {% if child.option_name == '自定义URL' %}
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-xs-2 no-padding-right">
                                                                                            URL：</label>


                                                                                        <input type="text"
                                                                                               id="option_value"
                                                                                               name="option_value"
                                                                                               value="{{ child.option_value }}"
                                                                                               class="no-padding-left col-sm-10"
                                                                                        /><br>
                                                                                    </div>
                                                                                    <div class="space-8"></div>
                                                                                {% endif %}
                                                                                <div class="form-group">
                                                                                    <label class="control-label col-xs-2 no-padding-right">
                                                                                        导航标签：</label>
                                                                                    <input type="text" id="option_title"
                                                                                           name="option_title"
                                                                                           placeholder="导航标签"
                                                                                           class="col-sm-3 no-padding-left"
                                                                                           value="{{ child.option_title }}">
                                                                                    <div class="col-sm-2"></div>
                                                                                    <label class="control-label col-xs-2 no-padding-right">
                                                                                        标签属性：</label>
                                                                                    <input type="text" id="option_icon"
                                                                                           name="option_icon"
                                                                                           placeholder="icon-list"
                                                                                           class="col-sm-3 no-padding-left"
                                                                                           value="{{ child.option_icon }}"><br>
                                                                                </div>

                                                                                {% if child.option_name != '自定义URL' %}
                                                                                    <div class="form-group">
                                                                                        <label class="control-label col-xs-2 no-padding-right">
                                                                                            原始：</label>
                                                                                        <label class="control-label col-xs-8 no-padding-left"><a
                                                                                                href="{{ child.option_value }}"
                                                                                                target="_blank">
                                                                                            {% if not child.original_title %}
                                                                                                {{ child.option_title }}{% else %}
                                                                                                {{ child.original_title }}{% endif %}</a></label>
                                                                                    </div><br>
                                                                                {% endif %}

                                                                            </div>
                                                                            <div class="well well-sm align-right">
                                                                                <div class="col-xs-6 align-left">
                                                                                    <a href="javascript:void(0);"
                                                                                       class="red menu_option_remove"
                                                                                       id="{{ child.pk }}">移除</a>
                                                                                </div>


                                                                                <button class="btn btn-sm btn-group-sm btn-white save_menu_option"
                                                                                        type="button"
                                                                                        id="{{ child.pk }}">保存
                                                                                </button>

                                                                                <br>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </form>
                                                            </li>

                                                        {% endfor %}
                                                    </ol>
                                                {% endif %}

                                            </li>



                                        {% endfor %}

                                    </ol>
                                </div>

                                <div class="hr"></div>

                                <div class="control-group">
                                    <h4>菜单设置</h4>
                                    <div class="form-group col-xs-12 col-sm-3">
                                        <h6>
                                            菜单位置
                                        </h6>
                                        <div class="space-8"></div>


                                    </div>
                                    <form action="{% url 'menu_modify' current_menu.pk %}" method="post"
                                          id="modify_menu_form2">
                                        {% for pos in menu_positions %}
                                            <dd>
                                                <input type="checkbox" id="position_id" name="position_id"
                                                       value="{{ pos.pk }}"
                                                       {% if pos.menu.pk == current_menu.pk %}checked="checked"{% endif %}>
                                                <label>{{ pos.position }}</label>
                                                {% if pos.menu %}
                                                    <span id="pos-{{ pos.pk }}">(当前设置：{{ pos.menu.menu_name }})</span>
                                                {% else %}
                                                    <span id="pos-{{ pos.pk }}"></span>
                                                {% endif %}
                                            </dd>
                                        {% endfor %}
                                    </form>

                                </div>
                            </div>
                            <div class="panel-footer">
                                <div class="form-group">
                                    {% if current_menu %}
                                        <label class="col-sm-1">
                                        <a href="{% url 'menu_del' current_menu.pk %}" class="red">删除菜单</a>
                                    {% endif %}
                                    </label>
                                    <div class="col-sm-11 pull-left">
                                        <button class="btn btn-sm btn-group-sm btn-white menu-save" type="button"
                                                id="save_menu2">保存菜单
                                        </button>
                            </div>

                                    <br>
                                </div>

                            </div>

                        </div>

                    </div>


                    <div class="widget-box tab-pane" id="new-menu">
                        <div class="widget-header">


                            <form action="{% url 'menu_add' %}" method="post" class="form-horizontal" id="new-menu">

                                <h5 class="smaller col-xs-1">菜单名称</h5>
                                <input type="text" id="new_menu_name" name="menu_name">
                                <input type="hidden" id="new_menu_type" name="menu_type" value="menu">
                                <button class="btn btn-sm btn-group-sm btn-white" type="button" id="new-menu">创建菜单
                                </button>

                            </form>

                        </div>

                        <div class="widget-body">
                            <div class="widget-main">
                                <p>
                                    在上面给菜单命名，然后点击“创建菜单”。
                                </p>
                            </div>

                        </div>

                    </div>
                </div>


            </div>


        </div>

    </div><!-- /.col -->


    </div><!-- /.row -->

    <script src="{% static 'assets/js/typeahead-bs2.min.js' %}"></script>

    <!-- page specific plugin scripts -->

    <script src="{% static 'assets/js/jquery.nestable.js' %}"></script>



    <script type="text/javascript">
        jQuery(function ($) {

            $('.dd').nestable({'maxDepth': '2'});

            $('.dd-handle a').on('mousedown', function (e) {
                e.stopPropagation();
            });

            $('[data-rel="tooltip"]').tooltip();
            var a = $('.dd').nestable('serialize')
            a = JSON.stringify(a)
            console.log(a)

            $.ajaxSetup({headers: {"X-CSRFToken": '{{ csrf_token }}'}});

            $('button#new-menu').click(function () {

                $('form#new-menu').ajaxForm()

                $('form#new-menu').ajaxSubmit({
                    type: 'post',
                    url: "{% url 'menu_add' %}",
                    cache: false,
                    {#data: data,#}
                    dataType: 'json',
                    success: function (data) {

                        if (data.result == 'success') {

                            $('select#menu_id').append("<option value='" + data.menu_id + "'>" + data.menu_name + "</option>")
                            $('div#new-menu').removeClass('active')
                            $('div#menu_modify').addClass('active')
                            $('input[type="checkbox"]').attr("disabled", false)
                            $('button.addall').attr("disabled", false)
                            $('button.addto').attr("disabled", false)
                        } else {
                            alert('创建失败 - ' + data.msg)
                        }
                    },
                    error: function (data) {
                        alert('请求失败')
                    }
                })
            });

            $('a#new-menu').click(function () {
                $('div#new-menu').addClass('active')
                $('div#menu_modify').removeClass('active')
                $('input[type="checkbox"]').attr("disabled", true)
                $('button.addall').attr("disabled", true)
                $('button.addto').attr("disabled", true)
            });

            $('button.menu-save').click(function () {
                var menu_name = $('input#modify_menu_name').val()
                var menu_type = $('input#modify_menu_type').val()
                var position_ids = []
                $('input[name=position_id][type=checkbox]:checked').each(function () {
                    position_ids.push($(this).val());
                })

                var menu = {'menu_name': menu_name, 'menu_type': menu_type, 'position_ids': position_ids}
                menu = JSON.stringify(menu)
                $.ajax({
                    type: 'post',
                    url: "{% url 'menu_modify' current_menu.pk %}",
                    cache: false,
                    data: menu,
                    dataType: 'json',
                    success: function (data) {

                        if (data.result == 'success') {
                            var sel = 'select#menu_id option[value=' + data.menu_id + ']'

                            $(sel).text(data.menu_name)
                            if (data.old_position_ids != '') {

                                $.each(data.old_position_ids, function (i, val) {
                                    $('span#pos-' + val).html(' ')
                                });
                            }
                            if (data.position_ids != '') {

                                $.each(data.position_ids, function (i, val) {
                                    $('span#pos-' + val).html('(当前设置：' + data.menu_name + ')')


                                });
                            }
                            alert('保存成功')


                        } else {
                            alert('创建失败 - ' + data.msg)
                        }
                    },
                    error: function (data) {
                        alert('请求失败')
                    }
                })

            });

            $('div#nestable').on('click', 'a.menu_option_remove', function () {
                var menu_option_id = $(this).attr("id")
                var obj = $(this)
                var url = "{% url 'menu_option_del' 123 %}"
                url = url.replace('123', menu_option_id)
                $.ajax({
                    type: "GET",
                    url: url,
                    datatype: 'json',
                    success: function (result) {
                        if (result.result == 'success') {
                            var sel = 'form#' + menu_option_id
                            var lisel = 'li#' + menu_option_id
                            $(sel).remove()
                            $(lisel).remove()

                        } else {
                            alert('删除失败：' + result.msg)
                        }
                    },
                    error: function (result) {
                        alert('请求失败')
                    }
                })
            });


            {#$('#nestable').on('change', function () {#}
            {#    var order = $(this).nestable('serialize')#}
            {##}
            {#    var i = 1#}
            {#    $('ol li').each(function () {#}
            {#        var option_id = $(this).attr('id')#}
            {#        var pos = i#}
            {#        var url = "{% url 'menu_option_order' 123 456 %}"#}
            {#        url = url.replace('123', option_id)#}
            {#        url = url.replace('456', pos)#}
            {#        $.ajax({#}
            {#            type: "GET",#}
            {#            url: url,#}
            {#            datatype: 'json',#}
            {#            success: function (result) {#}
            {#                if (result.result == 'success') {#}
            {##}
            {#                    $(this).attr('data-id', pos)#}
            {#alert($('#nestable').find('span#' + option_id).text())#}
            {#                    console.log('排序成功')#}
            {##}
            {#                } else {#}
            {#                    alert('排序失败')#}
            {#                    return 0#}
            {#                }#}
            {#            },#}
            {#            error: function () {#}
            {#                alert('请求失败')#}
            {#                return 0#}
            {#            }#}
            {#        })#}
            {#        i = i + 1#}
            {##}
            {#    })#}
            {##}
            {#{)#}



            $('#nestable').on('change', function () {
                var order = $('.dd').nestable('serialize')
                order = JSON.stringify(order)
                console.log(order)
                $.ajax({
                    type: "post",
                    url: '{% url "menu_option_order" %}',
                    datatype: 'json',
                    data: order,
                    success: function (result) {
                        if (result.result == 'success') {

                            {#$(this).attr('data-id', pos)#}
                            {#alert($('#nestable').find('span#' + option_id).text())#}
                            console.log('排序成功')

                        } else {
                            alert('排序失败')
                            return 0
                        }
                    },
                    error: function () {
                        alert('请求失败')
                        return 0
                    }
                })


            });

            $('div#nestable').on('click', 'button.save_menu_option', function () {

                var menu_option_id = $(this).attr("id")
                var obj = $(this)

                var url = "{% url 'menu_option_modify' 123 %}"
                url = url.replace('123', menu_option_id)
                var formsel = 'form#form-' + menu_option_id
                $(formsel).ajaxForm()
                $('form#form-' + menu_option_id).ajaxForm()
                $('form#form-' + menu_option_id).ajaxSubmit({
                    type: "POST",
                    url: url,
                    cache: false,
                    datatype: 'json',
                    success: function (result) {
                        if (result.result == 'success') {


                            $('#nestable').find('span#' + menu_option_id).html('&nbsp' + result.option_name + ' | ' + result.option_title)
                            alert('保存成功')
                        } else {
                            alert('保存失败,' + result.msg)
                        }
                    },
                    error: function () {
                        alert('请求失败')
                    }
                })
            });

            $('button.addto').click(function () {
                var formid = $(this).attr("id")
                url = "{% url 'menu_option_add' %}"
                var c_menu_id = {{ current_menu.pk }}
                    $('form#' + formid).ajaxForm()
                $('form#' + formid).ajaxSubmit({
                    type: "POST",
                    url: url,
                    cache: false,
                    datatype: 'json',
                    success: function (result) {
                        if (result.result == 'success') {
                            $('button#select_menu').click()
                        } else {
                            alert('添加失败：' + result.msg)
                        }
                    },
                    error: function () {
                        alert('请求失败')
                    }
                })
            });

            $('div#accordion').on('click', 'button.addall', function () {
                var id = $(this).attr('id')
                var sel = 'input[type="checkbox"].' + id
                var btn_text = $(this).text()
                if (btn_text == '全选') {
                    $(sel).prop('checked', true)
                    $('button#' + id).text('反选')
                    $(this).focu
                } else {
                    $(sel).prop('checked', false)
                    $('button#' + id).text('全选')
                    $(this).focusout
                }

            })

        });


    </script>

{% endblock %}
