{% extends 'index/base.html' %}

{% load silice_tags %}
{% block page %}
        <div class="col-md-8 ">
            <div class="blog-post">
                <h2>分类：{% if cate %}{{ cate.name }}{% else %}未分类{% endif %} <i class="icon-rss"></i> </h2>
            </div>
        {% if pages %}
            {% for p in pages %}
                <div class="blog-post">
                    <div class="col-md-8">><a href="{% url 'show' p.pk %}"> {{ p.title }}</a></div>
                    <div class="col-md-4"><i class="icon-time"></i> {{ p.pub_date }} &nbsp;<i
                            class="icon-eye-open"></i> {{ p.view_count }}</div>
                </div>
            {% endfor %}
        {% else %}
            <div class="blog-post">
                无
            </div>
        {% endif %}

            <br/>
            <nav>
                <ul class="pagination">
                {% if pages.has_previous %}
                    <li>
                        {% if cate %}
                            <a href="{% url 'category_show' cate.pk pages.previous_page_number %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            {% else %}
                            <a href="{% url 'category_show' 0 pages.previous_page_number %}" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                            {% endif %}
                    </li>
                {% endif %}
                {% if pages %}
                    {% for index in pages.paginator.page_range %}
                        {% if index == pages.number %}
                            <li><a href="javascript:return false" style="cursor:default; color: black;">{{ index }}</a>
                            </li>
                        {% else %}
                            {% if cate %}
                                <li><a href="{% url 'category_show' cate.pk index %}">{{ index }}</a></li>
                                {% else %}
                                    <li><a href="{% url 'category_show' 0 index %}">{{ index }}</a></li>
                                {% endif %}
                        {% endif %}
                    {% endfor %}
                {% else %}
                    <li><a href="javascript:return false" style="cursor:default; color: black;">1</a>
                            </li>
                {% endif %}
                {% if pages.has_next %}
                    <li>
                        {% if cate %}
                        <a href="{% url 'category_show' cate.pk pages.next_page_number %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                            {% else %}
                            <a href="{% url 'category_show' 0 pages.next_page_number %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                            {% endif %}
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-1"></div>



{% endblock %}
