{% extends 'index/base.html' %}
{% load static %}
{% load staticfiles %}
{% load silice_tags %}
{% block page %}
        <div class="col-md-8 ">
            {% for p in pages %}
                <div class="blog-post">
                    <h2>{{ p.title }}.</h2>
                    <h4>Posted by <a href="{% url 'user_show' p.pub_author.pk '1' %}">{{ p.pub_author }}</a>
                        on {{ p.pub_date }} Views: {{ p.view_count }} Comments: {{ p.comment_count }}</h4>
                    <h5>分类目录：
                        {% if p.category %}
                            <a href="{% url 'category_show' p.category.pk '1' %}"> {{ p.category.name }}</a>
                        {% else %}
                            <a href="{% url 'category_show' 0 '1' %}">未分类</a>
                        {% endif %}
                    </h5>
                    <h5>Tags：
                        {% load btn_tags %}
                        {% if p.tag_set.all %}
                            {% for tag in p.tag_set.all %}
                                <a href="{% url 'tag_show' tag.pk '1' %}">
                                <button class="{{ 'label'|randomlabel }} label-lg label">{{ tag }}</button>
                                </a>
                            {% endfor %}
                        {% else %}
                            无
                        {% endif %}
                    </h5>

                    <p  style=word-wrap:break-word;>
                        {{ p.content|silice_content:'200'|safe }}
                    </p>
                <p>
                    <a href="{% url 'show' p.pk %}" class="btn btn-default btn-lg ">Read More <i
                            class="fa fa-angle-right"></i></a>
                </p>
                </div>
            {% endfor %}

            <br/>
            <nav>
                <ul class="pagination">
                {% if pages.has_previous %}
                    <li>
                        <a href="{% url 'index' pages.previous_page_number %}" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}
                    {% for index in pages.paginator.page_range %}
                        {% if index == pages.number %}
                            <li><a href="javascript:return false" style="cursor:default; color: black;">{{ index }}</a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'index' index %}">{{ index }}</a></li>
                        {% endif %}
                    {% endfor %}
                {% if pages.has_next %}
                    <li>
                        <a href="{% url 'index' pages.next_page_number %}" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}
                </ul>
            </nav>
        </div>
        <div class="col-md-1"></div>



{% endblock %}
