{% extends 'index/base.html' %}

{% load silice_tags %}
{% block page %}
        <div class="col-md-8 ">
            {% for p in pages %}
                <div class="blog-post">
                    <h2>{{ p.title }}.</h2>
                    <h4>Posted by <a href="#">{{ p.pub_author }}</a> on {{ p.pub_date }} Views: {{ p.view_count }} Comments: {{ p.comment_count }}</h4>
                    <h5>分类目录：
                        {% if p.category %}
                            <a href="#"> {{ p.category.name }}</a>
                        {% else %}
                            <a href="#">未分类</a>
                        {% endif %}
                    </h5>
                    <h5>Tags：
                        {% if p.tag_set.all %}
                            {% for tag in p.tag_set.all %}
                                <label class="label-info label-lg label">{{ tag }}</label>
                            {% endfor %}
                        {% else %}
                            无
                        {% endif %}
                    </h5>

                    <p  style=word-wrap:break-word;>
                        {{ p.content|silice_content:'200'|safe }}
                    </p>
                    <a href="{{ p.guid }}" class="btn btn-default btn-lg ">Read More <i
                            class="fa fa-angle-right"></i></a>
                </div>
            {% endfor %}

            <br/>
            <nav>
                <ul class="pagination">
                    <li>
                        <a href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    {% for index in pages.paginator.page_range %}
                        {% if index == pages.number %}
                            <li><a href="javascript:return false" style="cursor:default; color: black;">{{ index }}</a>
                            </li>
                        {% else %}
                            <li><a href="{% url 'index' index %}">{{ index }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li>
                        <a href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-1"></div>



{% endblock %}
