{% extends 'index/base.html' %}
{% block page %}
    <div class="col-md-8 ">
        <div class="blog-post">
            <h1>{{ post.title }}.</h1>
            <h4><i class="icon-user"></i>  <a href="#">{{ post.pub_author }}</a> <i class="icon-calendar"></i>  {{ post.pub_date }}
                <i class="icon-folder-open"></i>  <a href="#"> {% if post.category is None %}未归档{% else %}{{ post.category }}{% endif %}</a>
                <i class="icon-eye-open"></i> {{ post.view_count }} views</h4>

            <p style=word-wrap:break-word;>
                {{ post.content|safe }}
            </p>

        </div>
        <div class="col-md-12 blog-post">
            <h3><i class="icon-tags"></i> ：{% for tag in post.tag_set.all %}
                <label class="label-info label-lg label">{{ tag }}</label>
            {% endfor %}
            </h3>

        </div>


        <div class="col-md-12 blog-post">
            <div class="col-md-6 text-left align-center">
                {% if pre_post %}
                    <a href="{{ pre_post.guid }}">
                        <span aria-hidden="true"><< {{ pre_post }}</span>
                    </a>
                {% endif %}
            </div>


            <div class="col-md-6 text-right align-center">
                {% if next_post %}
                    <a href="{{ next_post.guid }}">
                        <span aria-hidden="true">{{ next_post }} >></span>
                    </a>
                {% endif %}
            </div>

        </div>

        <br/>
    </div>
    <div class="col-md-1"></div>



{% endblock %}
